<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Button -->
    <a class="btn-floating btn-action ml-auto mr-4 bg-secondary-color"><i class="fas fa-chevron-right pl-1"></i></a>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h5 class="card-title">Listing title</h5>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <hr class="card-hr">
        <p class="card-footer-town">Town name</p>
        <p class="card-footer-icons">
            <i class="fas fa-running" title="Sports"></i>
            <i class="fas fa-swimmer" title="Swimming"></i>
            <i class="fas fa-medal" title="Clubs"></i>
            <i class="fas fa-sun" title="Suitable for good weather"></i>
            <i class="fas fa-cloud-showers-heavy" title="Suitable for good weather"></i>
            <span class="free-listing">Free</span>
        </p>
    </div>


</div>
<!-- Card -->