<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Button -->
    <a class="btn-floating btn-action ml-auto mr-4 bg-secondary-color"><i class="fas fa-chevron-right pl-1"></i></a>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h5 class="card-title">Listing title</h5>
        <hr>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <hr>

        <p class="card-footer-town">Town name</p>
    </div>


</div>
<!-- Card -->