/*
FamilyHub brand colors chosen for their reference to outdoors, kids, family and fun,
and because they complement themselves nicely in good design

white #ffffff
green #43a047
dark-green #1b5e20
cyan #00bcd4
dark-cyan #00838f
charcoal #212121
orange #f4511e

FamilyHub fonts chosen for their clean, easily readable and simple style.
font-family: 'Quicksand', sans-serif;
font-family: 'Lato', sans-serif;

*/

/* VARIABLES */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@300;400&display=swap');

:root {

    /* colors */
    --main-bg-color: white;
    --main-text-color: #212121;
    --accent-color: #f4511e;
    --main-color: #43a047;
    --main-color-dk: #1b5e20;
    --secondary-color: #00bcd4;
    --secondary-color-dk: #00838f;

    /* fonts */
    --heading: 'Quicksand', sans-serif;
    --main-text: 'Lato', sans-serif;

    /* hover effects */
    --btn-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    --btn-shadow-hvr: 0 6px 8px 0 rgba(0, 0, 0, 0.16), 0 5px 12px 0 rgba(0, 0, 0, 0.12);
}

/* STRUCTURAL ELEMENTS */
body {
    font-family: var(--main-text);
}

/* FONTS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
}

/* COLORS */
.bg-secondary-color {
    background-color: var(--secondary-color);
}


/* NAVIGATION */
#custom-navbar {
    padding: 0 1rem;
}

.navbar-brand {
    color: var(--main-color-dk);
    font-family: var(--heading);
}

.custom-nav-item {
    padding-top: 0.6rem;
}

nav a {
    color: var(--main-text-color);
}

nav a:hover {
    color: var(--accent-color);
}

#fb-logo-text {
    display: inline-block;
    padding-top: 1.2rem;
}

/* 
small size needed for iphone5/SE, widths for 
larger screen sizes in media queries 
*/
#search-bar-mobile {
    width: 155px;
}

/* Overrides default underline colour for search bar in navigation */
.navbar.navbar-light form .md-form input:focus {
    border-color: var(--accent-color);
    box-shadow: 0 1px 0 0 var(--accent-color)!important; border-bottom: 1px solid var(--accent-color)!important;
}

/* 
Custom underline for nav items, code adapted 
from, https://codepen.io/rm/pen/ldhon works with custom
javascript setNavUnderline() function and jquery mouseenter
and mouseleave events in scripts.js
*/
#underline-nav-container {
    width: 550px;
    box-sizing: border-box;
    text-align: center;
}

#underline-nav-container li {
    display: inline;
    text-align: center;
}

#underline-nav-container a {
    display: block;
    text-align: left;
    width: 19.5%;
    padding: .5rem 0;
    margin: 0;
}

#underline-nav-container hr {
    height: 1px;
    width: 20%;
    margin: 0;
    background: var(--accent-color);
    border: none;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: none;
}

/* Stops profile dropdown menu from overflowing width of screen */
.profile-dropdown-menu {
    right: 0;
    left: auto;
}

/* FOOTER */

/* 
    Pushes footer down to the bottom of the page
    Adjust px value if footer content height changes
*/
.content {
    min-height: calc(100vh - 395px);
}

footer {
    background-color: var(--main-color-dk);
}

/* BUTTONS & ICONS */

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--btn-shadow);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}

.btn-floating:hover {
    box-shadow: var(--btn-shadow-hvr);
}

.card .btn-action {
    margin-top: -1.44rem;
    margin-bottom: -1.44rem;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}

#profile-btn {
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
}

#profile-btn i {
    font-size: 1.25rem;
    line-height: 47px;
}

.dropdown-toggle::after {
    display: none;
}

/* CARDS */

.card {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.card:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.card-footer-town {
    text-align: center;
    margin: 0;
}

/* MEDIA QUERIES */

/* small screens and up */
@media (min-width: 576px) {
    #search-bar-mobile {
        width: 270px;
    }
}

/* medium screens and up */
@media (min-width: 768px) {
    #search-bar-mobile {
        width: 400px;
    }
}

/* large screens and up */
@media (min-width: 992px) {
    #underline-nav-container a {
        display: inline-block;
        text-align: center;
    }

    #underline-nav-container {
        padding-top: 0.3rem;
    }

    #search-bar-mobile {
        width: auto;
    }
}