{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">

        <!-- Waiting applications -->
        <div class="col-12">
            <h5 class='py-3 pt-4'>Waiting applications</h5>
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Business Name</strong>
                            </div>
                            <div class="col-md-3">
                                <strong>KVK Number</strong>
                            </div>
                            <div class="col-md-6">
                                <strong id="status">Status</strong>
                            </div>
                        </div>
                        <hr>

                        {% for application in waiting_applications %}
                        <div class="row">
                            <div class="col-3">
                                <p>{{ application.business_name }}</p>
                            </div>
                            <div class="col-3">
                                <p>{{ application.kvk_num }}</p>
                            </div>
                            <div class="col-6">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-6">
                                            <select aria-labelledby="status" name="status" class="custom-select custom-select-sm">
                                                <option value="Awaiting response" selected>Awaiting response</option>
                                                <option value="Approved">Approved</option>
                                                <option value="Denied">Denied</option>
                                            </select>
                                            <!-- hidden input to send application pk value to back end on submit -->
                                            <input name="pk" type="text" value="{{ application.pk }}" class="d-none">
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-default btn-sm m-0 mr-2 ml-auto">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12">
                                <details>
                                    <summary>More info</summary>
                                    Email: {{ application.email }} | Phone: {{ application.phone }}
                                    <br>
                                    Message: {{ application.message }}
                                </details>
                            </div>
                        </div>
                        <hr>
                        {% empty %}
                        <p>No waiting applications</p>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- end waiting applications -->

        <!-- Approved applications -->
        <div class="col-12">
            <h5 class='py-3 pt-4'>Approved applications</h5>
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Business Name</strong>
                            </div>
                            <div class="col-md-3">
                                <strong>KVK Number</strong>
                            </div>
                            <div class="col-md-6">
                                <strong id="status">Status</strong>
                            </div>
                        </div>
                        <hr>

                        {% for application in approved_applications %}
                        <div class="row">
                            <div class="col-3">
                                <p>{{ application.business_name }}</p>
                            </div>
                            <div class="col-3">
                                <p>{{ application.kvk_num }}</p>
                            </div>
                            <div class="col-6">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-6">
                                            <select aria-labelledby="status" name="status" class="custom-select custom-select-sm">
                                                <option value="Awaiting response">Awaiting response</option>
                                                <option value="Approved" selected>Approved</option>
                                                <option value="Denied">Denied</option>
                                            </select>
                                            <!-- hidden input to send application pk value to back end on submit -->
                                            <input name="pk" type="text" value="{{ application.pk }}" class="d-none">
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-default btn-sm m-0 mr-2 ml-auto">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12">
                                <details>
                                    <summary>More info</summary>
                                    Email: {{ application.email }} | Phone: {{ application.phone }}
                                    <br>
                                    Message: {{ application.message }}
                                </details>
                            </div>
                        </div>
                        <hr>
                        {% empty %}
                        <p>No waiting applications</p>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- end approved applications -->

        <!-- Denied applications -->
        <div class="col-12">
            <h5 class='py-3 pt-4'>Denied applications</h5>
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Business Name</strong>
                            </div>
                            <div class="col-md-3">
                                <strong>KVK Number</strong>
                            </div>
                            <div class="col-md-6">
                                <strong id="status">Status</strong>
                            </div>
                        </div>
                        <hr>

                        {% for application in denied_applications %}
                        <div class="row">
                            <div class="col-3">
                                <p>{{ application.business_name }}</p>
                            </div>
                            <div class="col-3">
                                <p>{{ application.kvk_num }}</p>
                            </div>
                            <div class="col-6">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-6">
                                            <select aria-labelledby="status" name="status" class="custom-select custom-select-sm">
                                                <option value="Awaiting response">Awaiting response</option>
                                                <option value="Approved">Approved</option>
                                                <option value="Denied" selected>Denied</option>
                                            </select>
                                            <!-- hidden input to send application pk value to back end on submit -->
                                            <input name="pk" type="text" value="{{ application.pk }}" class="d-none">
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-default btn-sm m-0 mr-2 ml-auto">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12">
                                <details>
                                    <summary>More info</summary>
                                    Email: {{ application.email }} | Phone: {{ application.phone }}
                                    <br>
                                    Message: {{ application.message }}
                                </details>
                            </div>
                        </div>
                        <hr>
                        {% empty %}
                        <p>No denied applications</p>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- end denied applications -->


    </div>
</div>

{% endblock %}