{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <header class="col-12">
            <h1>For businesses</h1>
        </header>
        <section class="col-12">
            <h2>Why advertise with us?</h2>
            <p>Compelling reasons here.</p>
        </section>
        <section class="col-12">
            <h3>Frequently asked questions</h3>
            <h4>First question here?</h4>
            <p>Answer here Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque porro, quam veniam
                molestias numquam aliquam, rem illo vero sint id quis quas voluptates magni impedit, nesciunt incidunt
                molestiae. Cumque, quaerat.</p>
            <h4>Second question here?</h4>
            <p>Answer here Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque porro, quam veniam
                molestias numquam aliquam, rem illo vero sint id quis quas voluptates magni impedit, nesciunt incidunt
                molestiae. Cumque, quaerat.</p>
            <h4>Third question here?</h4>
            <p>Answer here Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque porro, quam veniam
                molestias numquam aliquam, rem illo vero sint id quis quas voluptates magni impedit, nesciunt incidunt
                molestiae. Cumque, quaerat.</p>
        </section>
        <section class="col-12">
            <h3>Advertise with us.</h3>
            <p><a href="{% url 'apply' %}">Apply here</a></p>
        </section>
    </div>
</div>

{% endblock %}