{% load static %}
<!-- Navigation -->

<nav id="custom-navbar" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo_transparent-50px.png' %}" alt="FamilyHub logo" title="FamilyHub">
        <p id="fb-logo-text" class="d-none d-sm-inline-block">FamilyHub</p>
    </a>


    {% if page != 'home' %}
    <!-- Hide navigation search bar when on home page -->
    <ul class="navbar-nav mx-auto d-lg-none">
        <form class="form-inline ml-auto">
            <div class="md-form my-0">
                <input id="search-bar-mobile" class="form-control mr-sm-2" type="text" placeholder="Search"
                    aria-label="Search">
            </div>
        </form>
    </ul>
    {% endif %}


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div id="underline-nav-container">
            <div>
                <a id="home-link" href="{% url 'home' %}"> Home <span class="sr-only">(current)</span></a>
                <a id="events-link" href="{% url 'events' %}"> Events </a>
                <a id="educational-link" href="{% url 'educational' %}"> Educational </a>
                <a id="clubs-link" href="{% url 'clubs' %}"> Clubs </a>
                <a id="parties-link" href="{% url 'parties' %}"> Parties </a>
                <hr class="d-none d-lg-block">
                {% if user.is_authenticated %}
                <div class="dropdown-divider d-lg-none"></div>
                <!-- Dropdown menu for logged in business links-->
                <a class="dropdown-item d-lg-none" href="#">Dashboard</a>
                <a class="dropdown-item d-lg-none" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item d-lg-none mb-2" href="{% url 'logout' %}">Log out</a>
                {% endif %}
            </div>
        </div>

        <ul class="navbar-nav ml-auto d-none d-lg-flex">

            {% if page != 'home' %}
            <!-- Hide navigation search bar when on home page -->
            <form class="form-inline ml-auto">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
            {% endif %}

            {% if user.is_authenticated %}
            <!-- Dropdown menu for logged in business links-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div id="profile-btn" class="btn-floating">
                        <i class="far fa-user"></i>
                    </div>
                </a>
                <div class="profile-dropdown-menu dropdown-menu dropdown-primary"
                    aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Dashboard</a>
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                </div>
            </li>
            {% endif %}
        </ul>


    </div>
</nav>